<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cf8d7684bf281d714adf313446783041 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cf8d7684bf281d714adf313446783041" ></div>
        
</body>
<script>    
    
            var map_cf8d7684bf281d714adf313446783041 = L.map(
                "map_cf8d7684bf281d714adf313446783041",
                {
                    center: [30.391483, -97.722548],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9a54adf20e060d704fb75812fb3c4268 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var marker_036e356c827b53ca27bc6a038810a405 = L.marker(
                [30.391483, -97.722548],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_08ce81b069d8f7c1c184cb9337cee809 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkgreen", "prefix": "fa"}
            );
            marker_036e356c827b53ca27bc6a038810a405.setIcon(icon_08ce81b069d8f7c1c184cb9337cee809);
        
    
        var popup_70b8ed9ef8e5dbb2130d4c5ad8e10bf7 = L.popup({"maxWidth": "100%"});

        
            var html_298148ac42283a0dd8bc0c23dcba12e0 = $(`<div id="html_298148ac42283a0dd8bc0c23dcba12e0" style="width: 100.0%; height: 100.0%;">Home</div>`)[0];
            popup_70b8ed9ef8e5dbb2130d4c5ad8e10bf7.setContent(html_298148ac42283a0dd8bc0c23dcba12e0);
        

        marker_036e356c827b53ca27bc6a038810a405.bindPopup(popup_70b8ed9ef8e5dbb2130d4c5ad8e10bf7)
        ;

        
    
    
            var marker_1dbf4bb0f14e559502b2d33c3cc353d5 = L.marker(
                [30.391483, -97.722548],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_c5d0b1c580acbb36e736e3ae742d321f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_1dbf4bb0f14e559502b2d33c3cc353d5.setIcon(icon_c5d0b1c580acbb36e736e3ae742d321f);
        
    
            var marker_8dbd132480968a93340518b38cadc048 = L.marker(
                [30.392667, -97.725958],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_6ba062f869ba534de15324f3ba624b50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_8dbd132480968a93340518b38cadc048.setIcon(icon_6ba062f869ba534de15324f3ba624b50);
        
    
            var marker_cbddf833e5cb2108c374b8eefafa53ae = L.marker(
                [30.395374, -97.731553],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_cf8cf684386d19303f08d291305e8ec8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_cbddf833e5cb2108c374b8eefafa53ae.setIcon(icon_cf8cf684386d19303f08d291305e8ec8);
        
    
            var marker_474fc7881f9b1b1015b4c2f415d752f5 = L.marker(
                [30.397553, -97.736066],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_8aab6940aee12813d079fc3af845deb0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_474fc7881f9b1b1015b4c2f415d752f5.setIcon(icon_8aab6940aee12813d079fc3af845deb0);
        
    
            var marker_aa7ac3587584baef5f44ce88a5af1ef0 = L.marker(
                [30.399251, -97.73955],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_bda30bb4e4bae196b16bed48b5841004 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_aa7ac3587584baef5f44ce88a5af1ef0.setIcon(icon_bda30bb4e4bae196b16bed48b5841004);
        
    
            var marker_866b11ae97e4cbc77444115f271e2556 = L.marker(
                [30.400365, -97.742281],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_9e9f819eb8788b85a84f2b83f7c915a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_866b11ae97e4cbc77444115f271e2556.setIcon(icon_9e9f819eb8788b85a84f2b83f7c915a7);
        
    
            var marker_8275da52b245bdf947f1826d7ba43b0b = L.marker(
                [30.400813, -97.74724],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_52a90fa18ccfe5143fdd6f5136518654 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_8275da52b245bdf947f1826d7ba43b0b.setIcon(icon_52a90fa18ccfe5143fdd6f5136518654);
        
    
            var marker_3ea989152415a232a47651f449ff4161 = L.marker(
                [30.396981, -97.750138],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_3d9f85897cea9c4dca41d5434f69c206 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_3ea989152415a232a47651f449ff4161.setIcon(icon_3d9f85897cea9c4dca41d5434f69c206);
        
    
            var marker_d23478905b1e192b7cde107cdde0307a = L.marker(
                [30.394037, -97.74835],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_aa3b5e9e944d9190a06336ef8562be24 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_d23478905b1e192b7cde107cdde0307a.setIcon(icon_aa3b5e9e944d9190a06336ef8562be24);
        
    
            var marker_023eabd9c33e6070baec440a2fe65393 = L.marker(
                [30.393337, -97.743545],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_6204c28becea891a3b70ed1bebe38bcc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_023eabd9c33e6070baec440a2fe65393.setIcon(icon_6204c28becea891a3b70ed1bebe38bcc);
        
    
            var marker_80a4b2e48ce5c9be868df3825043e094 = L.marker(
                [30.390868816547965, -97.72227021270854],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_e088ed2efd40fad4c6327760be288128 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_80a4b2e48ce5c9be868df3825043e094.setIcon(icon_e088ed2efd40fad4c6327760be288128);
        
    
        var popup_b208757bc19826fa45ade1ea3063f246 = L.popup({"maxWidth": 300});

        
            var html_a9adc0e658f8fdf5b98b74199970b220 = $(`<div id="html_a9adc0e658f8fdf5b98b74199970b220" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Burnet NW Corner.<br>Name of POI: Starbucks.<br>Type of POI: cafe.<br>Bus journey: 0.</div>`)[0];
            popup_b208757bc19826fa45ade1ea3063f246.setContent(html_a9adc0e658f8fdf5b98b74199970b220);
        

        marker_80a4b2e48ce5c9be868df3825043e094.bindPopup(popup_b208757bc19826fa45ade1ea3063f246)
        ;

        
    
    
            var marker_16deb161620ad7027883cd4babc84b5b = L.marker(
                [30.39339165, -97.72669489999998],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_e77ff98afd43d238cf1149f299fac0d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_16deb161620ad7027883cd4babc84b5b.setIcon(icon_e77ff98afd43d238cf1149f299fac0d4);
        
    
        var popup_085969a6a90772c551d970efd115aa6a = L.popup({"maxWidth": 300});

        
            var html_699cb9574748324f10b850c704afb6ab = $(`<div id="html_699cb9574748324f10b850c704afb6ab" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/IBM.<br>Name of POI: CAVA.<br>Type of POI: restaurant.<br>Bus journey: 1.</div>`)[0];
            popup_085969a6a90772c551d970efd115aa6a.setContent(html_699cb9574748324f10b850c704afb6ab);
        

        marker_16deb161620ad7027883cd4babc84b5b.bindPopup(popup_085969a6a90772c551d970efd115aa6a)
        ;

        
    
    
            var marker_f4765517b077bc86c90d8668d77ad259 = L.marker(
                [30.400081485821136, -97.73921536802607],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_8ca2fee11a851b48164f15c525dde282 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_f4765517b077bc86c90d8668d77ad259.setIcon(icon_8ca2fee11a851b48164f15c525dde282);
        
    
        var popup_5bca2f5d2c910df230171a5e210a598d = L.popup({"maxWidth": 300});

        
            var html_2b4bfe4f562bd0508f37f161441a54f6 = $(`<div id="html_2b4bfe4f562bd0508f37f161441a54f6" style="width: 100.0%; height: 100.0%;">Closest bus stop: 4223 Braker/Stonelake.<br>Name of POI: Provision.<br>Type of POI: restaurant.<br>Bus journey: 5.</div>`)[0];
            popup_5bca2f5d2c910df230171a5e210a598d.setContent(html_2b4bfe4f562bd0508f37f161441a54f6);
        

        marker_f4765517b077bc86c90d8668d77ad259.bindPopup(popup_5bca2f5d2c910df230171a5e210a598d)
        ;

        
    
    
            var marker_6b76d834d595fe1443714491f7218e26 = L.marker(
                [30.4001039, -97.748023],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_65a7c80b8445f0f3d9a5cd66223ef01c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_6b76d834d595fe1443714491f7218e26.setIcon(icon_65a7c80b8445f0f3d9a5cd66223ef01c);
        
    
        var popup_b1ba1e1c5c4e2d7ef42e1cff1035e648 = L.popup({"maxWidth": 300});

        
            var html_4de222d773e7426948d9099196140c20 = $(`<div id="html_4de222d773e7426948d9099196140c20" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Twin Lion.<br>Type of POI: restaurant.<br>Bus journey: 7.</div>`)[0];
            popup_b1ba1e1c5c4e2d7ef42e1cff1035e648.setContent(html_4de222d773e7426948d9099196140c20);
        

        marker_6b76d834d595fe1443714491f7218e26.bindPopup(popup_b1ba1e1c5c4e2d7ef42e1cff1035e648)
        ;

        
    
    
            var marker_a5f04781e280454569da1a76594a54ff = L.marker(
                [30.3998084, -97.746813],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_6f831f0d9ea2177cf03b84c16ad14cc4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_a5f04781e280454569da1a76594a54ff.setIcon(icon_6f831f0d9ea2177cf03b84c16ad14cc4);
        
    
        var popup_8315f1401d237bd31cd8f6c038e496d1 = L.popup({"maxWidth": 300});

        
            var html_939704246ef538f870214db8f3feebe0 = $(`<div id="html_939704246ef538f870214db8f3feebe0" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Gatti's Pizza.<br>Type of POI: restaurant.<br>Bus journey: 7.</div>`)[0];
            popup_8315f1401d237bd31cd8f6c038e496d1.setContent(html_939704246ef538f870214db8f3feebe0);
        

        marker_a5f04781e280454569da1a76594a54ff.bindPopup(popup_8315f1401d237bd31cd8f6c038e496d1)
        ;

        
    
    
            var marker_9b40432b16bf9f004fa9dbbf035e9d72 = L.marker(
                [30.3999414, -97.7485126],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_318d7a1da15e3efb5de084cb4962a588 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_9b40432b16bf9f004fa9dbbf035e9d72.setIcon(icon_318d7a1da15e3efb5de084cb4962a588);
        
    
        var popup_953ed9086b8fbe2ccc149385aebef8fa = L.popup({"maxWidth": 300});

        
            var html_f34d624ef72b9496bc20969621fba3c3 = $(`<div id="html_f34d624ef72b9496bc20969621fba3c3" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Fujiyama.<br>Type of POI: restaurant.<br>Bus journey: 7.</div>`)[0];
            popup_953ed9086b8fbe2ccc149385aebef8fa.setContent(html_f34d624ef72b9496bc20969621fba3c3);
        

        marker_9b40432b16bf9f004fa9dbbf035e9d72.bindPopup(popup_953ed9086b8fbe2ccc149385aebef8fa)
        ;

        
    
    
            var marker_687e48a7dc31ece26b910203116650d7 = L.marker(
                [30.3999342, -97.7483653],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_377cc8f43334e6fedcb0559c7c7be17f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_687e48a7dc31ece26b910203116650d7.setIcon(icon_377cc8f43334e6fedcb0559c7c7be17f);
        
    
        var popup_6c28c8913858b4140792487dabe4a5f2 = L.popup({"maxWidth": 300});

        
            var html_b270b6f9ec2b133f1684f903d3374e37 = $(`<div id="html_b270b6f9ec2b133f1684f903d3374e37" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Great Harvest Bread Co..<br>Type of POI: cafe.<br>Bus journey: 7.</div>`)[0];
            popup_6c28c8913858b4140792487dabe4a5f2.setContent(html_b270b6f9ec2b133f1684f903d3374e37);
        

        marker_687e48a7dc31ece26b910203116650d7.bindPopup(popup_6c28c8913858b4140792487dabe4a5f2)
        ;

        
    
    
            var marker_f94d5a104f2e89e0aaf40d7225354d2e = L.marker(
                [30.4019782, -97.7469768],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_6cc33d89e1e2374c3f86b41e77dd3df1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_f94d5a104f2e89e0aaf40d7225354d2e.setIcon(icon_6cc33d89e1e2374c3f86b41e77dd3df1);
        
    
        var popup_c738c1547e6d729010c4279f73104a13 = L.popup({"maxWidth": 300});

        
            var html_8d628fa134a11dddeae8781cf0b7e355 = $(`<div id="html_8d628fa134a11dddeae8781cf0b7e355" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Signature Cafe.<br>Type of POI: cafe.<br>Bus journey: 7.</div>`)[0];
            popup_c738c1547e6d729010c4279f73104a13.setContent(html_8d628fa134a11dddeae8781cf0b7e355);
        

        marker_f94d5a104f2e89e0aaf40d7225354d2e.bindPopup(popup_c738c1547e6d729010c4279f73104a13)
        ;

        
    
    
            var marker_3bcb936faa591bcf8067a9267681bf76 = L.marker(
                [30.401983, -97.7468743],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_93376b7d3872cf9798ff49921522579f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_3bcb936faa591bcf8067a9267681bf76.setIcon(icon_93376b7d3872cf9798ff49921522579f);
        
    
        var popup_c4f1604723556cf21894b03137c4cd44 = L.popup({"maxWidth": 300});

        
            var html_a3dfb3f4081c948fa816a35e21b555f7 = $(`<div id="html_a3dfb3f4081c948fa816a35e21b555f7" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Starbucks.<br>Type of POI: cafe.<br>Bus journey: 7.</div>`)[0];
            popup_c4f1604723556cf21894b03137c4cd44.setContent(html_a3dfb3f4081c948fa816a35e21b555f7);
        

        marker_3bcb936faa591bcf8067a9267681bf76.bindPopup(popup_c4f1604723556cf21894b03137c4cd44)
        ;

        
    
    
            var marker_9bb01dc596481ee6540f281839a74465 = L.marker(
                [30.398259, -97.7493286],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_adace30a996039495ec22733e515be54 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_9bb01dc596481ee6540f281839a74465.setIcon(icon_adace30a996039495ec22733e515be54);
        
    
        var popup_bc3295121a60c84b883c6c6357663f44 = L.popup({"maxWidth": 300});

        
            var html_87863a276689d88c4484f510a25d6a68 = $(`<div id="html_87863a276689d88c4484f510a25d6a68" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Mama Fu's.<br>Type of POI: restaurant.<br>Bus journey: 9.</div>`)[0];
            popup_bc3295121a60c84b883c6c6357663f44.setContent(html_87863a276689d88c4484f510a25d6a68);
        

        marker_9bb01dc596481ee6540f281839a74465.bindPopup(popup_bc3295121a60c84b883c6c6357663f44)
        ;

        
    
    
            var marker_8a5e1971f75fd732a141c177da419d1c = L.marker(
                [30.396735783753286, -97.74930352865478],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_8e27dc6d91bb5a7922c7832249f320bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_8a5e1971f75fd732a141c177da419d1c.setIcon(icon_8e27dc6d91bb5a7922c7832249f320bb);
        
    
        var popup_aadaaf7f1d5ee313d1ffec6d2bffd156 = L.popup({"maxWidth": 300});

        
            var html_573814eff579d97e4a4897b9c68d20ad = $(`<div id="html_573814eff579d97e4a4897b9c68d20ad" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Manuel's.<br>Type of POI: restaurant.<br>Bus journey: 9.</div>`)[0];
            popup_aadaaf7f1d5ee313d1ffec6d2bffd156.setContent(html_573814eff579d97e4a4897b9c68d20ad);
        

        marker_8a5e1971f75fd732a141c177da419d1c.bindPopup(popup_aadaaf7f1d5ee313d1ffec6d2bffd156)
        ;

        
    
    
            var marker_6183bc8cdacb54209298fc7aa6d456cf = L.marker(
                [30.395831542236635, -97.74882798017838],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_8f9280259d236bd4cf1f8fa923b1f4cf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "film", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_6183bc8cdacb54209298fc7aa6d456cf.setIcon(icon_8f9280259d236bd4cf1f8fa923b1f4cf);
        
    
        var popup_475bed65d7414f0de62eeaabb666d8d7 = L.popup({"maxWidth": 300});

        
            var html_cbbb1bcb8ee0bd5a6a1c730c23ae87c5 = $(`<div id="html_cbbb1bcb8ee0bd5a6a1c730c23ae87c5" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Arbor Cinema @ Great Hills.<br>Type of POI: cinema.<br>Bus journey: 9.</div>`)[0];
            popup_475bed65d7414f0de62eeaabb666d8d7.setContent(html_cbbb1bcb8ee0bd5a6a1c730c23ae87c5);
        

        marker_6183bc8cdacb54209298fc7aa6d456cf.bindPopup(popup_475bed65d7414f0de62eeaabb666d8d7)
        ;

        
    
    
            var marker_0a7ede584055f14af634690d654bb7d6 = L.marker(
                [30.3950396, -97.7493683],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_786637f7ff21e3f2c00b54e99e58b8e4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_0a7ede584055f14af634690d654bb7d6.setIcon(icon_786637f7ff21e3f2c00b54e99e58b8e4);
        
    
        var popup_a8670807a603d248615ee0edf255ce67 = L.popup({"maxWidth": 300});

        
            var html_1e66c35e620b4e009e34c6e18921f2c7 = $(`<div id="html_1e66c35e620b4e009e34c6e18921f2c7" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Modern Market.<br>Type of POI: restaurant.<br>Bus journey: 10.</div>`)[0];
            popup_a8670807a603d248615ee0edf255ce67.setContent(html_1e66c35e620b4e009e34c6e18921f2c7);
        

        marker_0a7ede584055f14af634690d654bb7d6.bindPopup(popup_a8670807a603d248615ee0edf255ce67)
        ;

        
    
    
            var marker_e8a6eb0ec99c3ed093f99f3bee3ffa1f = L.marker(
                [30.3950774, -97.7484716],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_d37fa0a7cc109418fcd4121547f5b74a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_e8a6eb0ec99c3ed093f99f3bee3ffa1f.setIcon(icon_d37fa0a7cc109418fcd4121547f5b74a);
        
    
        var popup_694701dc2ef2d6fcd875bb267ce22a08 = L.popup({"maxWidth": 300});

        
            var html_a984920dd645ee577c91331ace27e385 = $(`<div id="html_a984920dd645ee577c91331ace27e385" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Honest Mary's.<br>Type of POI: restaurant.<br>Bus journey: 10.</div>`)[0];
            popup_694701dc2ef2d6fcd875bb267ce22a08.setContent(html_a984920dd645ee577c91331ace27e385);
        

        marker_e8a6eb0ec99c3ed093f99f3bee3ffa1f.bindPopup(popup_694701dc2ef2d6fcd875bb267ce22a08)
        ;

        
    
    
            var marker_73f2e3ff5702962ac74783b8e526b226 = L.marker(
                [30.3952181, -97.7493734],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_0a684b96fbe8ee36d5366a7afb65384a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_73f2e3ff5702962ac74783b8e526b226.setIcon(icon_0a684b96fbe8ee36d5366a7afb65384a);
        
    
        var popup_5cf8fb563442f9bb7a9f740760ebd393 = L.popup({"maxWidth": 300});

        
            var html_b33a83c826f8b2d3e754bf79913f5f04 = $(`<div id="html_b33a83c826f8b2d3e754bf79913f5f04" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: FireBowlCafe.<br>Type of POI: cafe.<br>Bus journey: 10.</div>`)[0];
            popup_5cf8fb563442f9bb7a9f740760ebd393.setContent(html_b33a83c826f8b2d3e754bf79913f5f04);
        

        marker_73f2e3ff5702962ac74783b8e526b226.bindPopup(popup_5cf8fb563442f9bb7a9f740760ebd393)
        ;

        
    
    
            var marker_a20ff693e8fd5e4a234c6ed33f5096e3 = L.marker(
                [30.39454304934379, -97.74758061660229],
                {}
            ).addTo(map_cf8d7684bf281d714adf313446783041);
        
    
            var icon_485c07db8b0c0e976c61738372fea70f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_a20ff693e8fd5e4a234c6ed33f5096e3.setIcon(icon_485c07db8b0c0e976c61738372fea70f);
        
    
        var popup_d92e2310da0ea872514cbb5f05c6f5b9 = L.popup({"maxWidth": 300});

        
            var html_1049b4c23c3c9a7921900bfc4e8ac704 = $(`<div id="html_1049b4c23c3c9a7921900bfc4e8ac704" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Romano's Macaroni Grill.<br>Type of POI: restaurant.<br>Bus journey: 10.</div>`)[0];
            popup_d92e2310da0ea872514cbb5f05c6f5b9.setContent(html_1049b4c23c3c9a7921900bfc4e8ac704);
        

        marker_a20ff693e8fd5e4a234c6ed33f5096e3.bindPopup(popup_d92e2310da0ea872514cbb5f05c6f5b9)
        ;

        
    
</script>