<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_189b4ab140b43c50e1e41de2611e8d1e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_189b4ab140b43c50e1e41de2611e8d1e" ></div>
        
</body>
<script>    
    
            var map_189b4ab140b43c50e1e41de2611e8d1e = L.map(
                "map_189b4ab140b43c50e1e41de2611e8d1e",
                {
                    center: [30.391483, -97.722548],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_06aa81ac976f1b7b1fe116a64e3f6879 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var marker_20afdf5b38dc795b7d2b91508af50bd5 = L.marker(
                [30.391483, -97.722548],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_030b3a774a10bec92d204d48e80a1c8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkgreen", "prefix": "fa"}
            );
            marker_20afdf5b38dc795b7d2b91508af50bd5.setIcon(icon_030b3a774a10bec92d204d48e80a1c8f);
        
    
        var popup_bf9ca0e157df4f06519770fdae5a09c3 = L.popup({"maxWidth": "100%"});

        
            var html_21f01c3bd6e24b547f825bdebce3f89f = $(`<div id="html_21f01c3bd6e24b547f825bdebce3f89f" style="width: 100.0%; height: 100.0%;">Home</div>`)[0];
            popup_bf9ca0e157df4f06519770fdae5a09c3.setContent(html_21f01c3bd6e24b547f825bdebce3f89f);
        

        marker_20afdf5b38dc795b7d2b91508af50bd5.bindPopup(popup_bf9ca0e157df4f06519770fdae5a09c3)
        ;

        
    
    
            var marker_626867752ee3ea2645f4a752fe6e9cf3 = L.marker(
                [30.391483, -97.722548],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_d6f509da099c30fd318f21e712da1db5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_626867752ee3ea2645f4a752fe6e9cf3.setIcon(icon_d6f509da099c30fd318f21e712da1db5);
        
    
            var marker_8b5ed1dd1318707337094904887c135b = L.marker(
                [30.392667, -97.725958],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_c17ce0acc3a6d2bca8127af2518e8ccf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_8b5ed1dd1318707337094904887c135b.setIcon(icon_c17ce0acc3a6d2bca8127af2518e8ccf);
        
    
            var marker_fddf40bce5a1873046be0ca346ec226e = L.marker(
                [30.395374, -97.731553],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_e2696c99290c9f50012b2bfa74c94023 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_fddf40bce5a1873046be0ca346ec226e.setIcon(icon_e2696c99290c9f50012b2bfa74c94023);
        
    
            var marker_c25851c8eb684c3d38e450a06ffa1b9f = L.marker(
                [30.397553, -97.736066],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_59f0a1a394d1645b296ef0576faa58f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_c25851c8eb684c3d38e450a06ffa1b9f.setIcon(icon_59f0a1a394d1645b296ef0576faa58f8);
        
    
            var marker_f6fae298c419910d91e9cb444ec653de = L.marker(
                [30.399251, -97.73955],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_92e27944ca774432d83f242688af54b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_f6fae298c419910d91e9cb444ec653de.setIcon(icon_92e27944ca774432d83f242688af54b0);
        
    
            var marker_0c4c0c92f3da1ec37880a7de6781dcce = L.marker(
                [30.400365, -97.742281],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_13d87574898a8bdda1d9272aa6ebc8f0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_0c4c0c92f3da1ec37880a7de6781dcce.setIcon(icon_13d87574898a8bdda1d9272aa6ebc8f0);
        
    
            var marker_05b5b74384a93e7c87cceb56e3a656ff = L.marker(
                [30.400813, -97.74724],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_9fb657f6114d721b258ff1a1b5187541 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_05b5b74384a93e7c87cceb56e3a656ff.setIcon(icon_9fb657f6114d721b258ff1a1b5187541);
        
    
            var marker_f9ac4f3251730e16d736ddd647f496fa = L.marker(
                [30.396981, -97.750138],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_d404f747d6466a173bdfa1e151a20106 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_f9ac4f3251730e16d736ddd647f496fa.setIcon(icon_d404f747d6466a173bdfa1e151a20106);
        
    
            var marker_d46391c5e16cc0e17e55f5d3bd19ea50 = L.marker(
                [30.394037, -97.74835],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_51a89541054cd1504b9c7d26f9797833 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_d46391c5e16cc0e17e55f5d3bd19ea50.setIcon(icon_51a89541054cd1504b9c7d26f9797833);
        
    
            var marker_90168a03a6ed813f3b3b74840d03c0b3 = L.marker(
                [30.393337, -97.743545],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_ed3a4d5ca9265dbc64f9d133ae59d126 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_90168a03a6ed813f3b3b74840d03c0b3.setIcon(icon_ed3a4d5ca9265dbc64f9d133ae59d126);
        
    
            var marker_0a7b8053564a18dc765628bdf1a41915 = L.marker(
                [30.390868816547965, -97.72227021270854],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_cbc6475a2d391467cea87480fc7c67ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_0a7b8053564a18dc765628bdf1a41915.setIcon(icon_cbc6475a2d391467cea87480fc7c67ed);
        
    
        var popup_16eb7db8823857470b59cbefb0779daa = L.popup({"maxWidth": 300});

        
            var html_1ba964f0bc846ea896f2edce92f43e3b = $(`<div id="html_1ba964f0bc846ea896f2edce92f43e3b" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Burnet NW Corner.<br>Name of POI: Starbucks.<br>Type of POI: cafe.<br>Bus journey: 0.</div>`)[0];
            popup_16eb7db8823857470b59cbefb0779daa.setContent(html_1ba964f0bc846ea896f2edce92f43e3b);
        

        marker_0a7b8053564a18dc765628bdf1a41915.bindPopup(popup_16eb7db8823857470b59cbefb0779daa)
        ;

        
    
    
            var marker_b9b1067c6cb8ee1c40359e18af628dac = L.marker(
                [30.39339165, -97.72669489999998],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_1820ca9e6d32e072989080b2893895dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_b9b1067c6cb8ee1c40359e18af628dac.setIcon(icon_1820ca9e6d32e072989080b2893895dd);
        
    
        var popup_0785aff3dd0520d4ed61fd7faf7be09e = L.popup({"maxWidth": 300});

        
            var html_2f74752aee1fd47e51fc78b870dff2ba = $(`<div id="html_2f74752aee1fd47e51fc78b870dff2ba" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/IBM.<br>Name of POI: CAVA.<br>Type of POI: restaurant.<br>Bus journey: 1.</div>`)[0];
            popup_0785aff3dd0520d4ed61fd7faf7be09e.setContent(html_2f74752aee1fd47e51fc78b870dff2ba);
        

        marker_b9b1067c6cb8ee1c40359e18af628dac.bindPopup(popup_0785aff3dd0520d4ed61fd7faf7be09e)
        ;

        
    
    
            var marker_5e212a44fd8d04555b0abeb1f257d00f = L.marker(
                [30.400081485821136, -97.73921536802607],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_102039fd9c0ff1df8a2f8888beb698d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_5e212a44fd8d04555b0abeb1f257d00f.setIcon(icon_102039fd9c0ff1df8a2f8888beb698d9);
        
    
        var popup_a8aee5b6cebcb4e993b1c18fe10ab6f2 = L.popup({"maxWidth": 300});

        
            var html_8a820502c8f7494712a6321c178d097d = $(`<div id="html_8a820502c8f7494712a6321c178d097d" style="width: 100.0%; height: 100.0%;">Closest bus stop: 4223 Braker/Stonelake.<br>Name of POI: Provision.<br>Type of POI: restaurant.<br>Bus journey: 5.</div>`)[0];
            popup_a8aee5b6cebcb4e993b1c18fe10ab6f2.setContent(html_8a820502c8f7494712a6321c178d097d);
        

        marker_5e212a44fd8d04555b0abeb1f257d00f.bindPopup(popup_a8aee5b6cebcb4e993b1c18fe10ab6f2)
        ;

        
    
    
            var marker_7cc7e31d26451339afb2ab0b489bee0c = L.marker(
                [30.4001039, -97.748023],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_27f4b948fda4b18db0fe6733743d5a3e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_7cc7e31d26451339afb2ab0b489bee0c.setIcon(icon_27f4b948fda4b18db0fe6733743d5a3e);
        
    
        var popup_38f23776cc4d1bcfa1895cfae686fac5 = L.popup({"maxWidth": 300});

        
            var html_116127e94380095529f29bebb03d1bfb = $(`<div id="html_116127e94380095529f29bebb03d1bfb" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Twin Lion.<br>Type of POI: restaurant.<br>Bus journey: 7.</div>`)[0];
            popup_38f23776cc4d1bcfa1895cfae686fac5.setContent(html_116127e94380095529f29bebb03d1bfb);
        

        marker_7cc7e31d26451339afb2ab0b489bee0c.bindPopup(popup_38f23776cc4d1bcfa1895cfae686fac5)
        ;

        
    
    
            var marker_deb0ffe39a1cfc94785601cd8d172919 = L.marker(
                [30.3998084, -97.746813],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_b6761162840035d5682380188f9eff95 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_deb0ffe39a1cfc94785601cd8d172919.setIcon(icon_b6761162840035d5682380188f9eff95);
        
    
        var popup_5f0d3d07218c5c64d57d97e9738e4045 = L.popup({"maxWidth": 300});

        
            var html_6541dd12cf5c05113dc221d94d3f4383 = $(`<div id="html_6541dd12cf5c05113dc221d94d3f4383" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Gatti's Pizza.<br>Type of POI: restaurant.<br>Bus journey: 7.</div>`)[0];
            popup_5f0d3d07218c5c64d57d97e9738e4045.setContent(html_6541dd12cf5c05113dc221d94d3f4383);
        

        marker_deb0ffe39a1cfc94785601cd8d172919.bindPopup(popup_5f0d3d07218c5c64d57d97e9738e4045)
        ;

        
    
    
            var marker_e11f81b1506e894b6d60b60c756db8c1 = L.marker(
                [30.3999414, -97.7485126],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_3e216680ab0256a0262d8d577f38fa3c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_e11f81b1506e894b6d60b60c756db8c1.setIcon(icon_3e216680ab0256a0262d8d577f38fa3c);
        
    
        var popup_6adc54478f5a554673249b398304b4e7 = L.popup({"maxWidth": 300});

        
            var html_febd0e021d36b181714d33dec7b31b1a = $(`<div id="html_febd0e021d36b181714d33dec7b31b1a" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Fujiyama.<br>Type of POI: restaurant.<br>Bus journey: 7.</div>`)[0];
            popup_6adc54478f5a554673249b398304b4e7.setContent(html_febd0e021d36b181714d33dec7b31b1a);
        

        marker_e11f81b1506e894b6d60b60c756db8c1.bindPopup(popup_6adc54478f5a554673249b398304b4e7)
        ;

        
    
    
            var marker_53c8ea3d0e6a5e919f26a1172f8063dc = L.marker(
                [30.3999342, -97.7483653],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_3e45c5d2052376682732cd7d2b8ac5fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_53c8ea3d0e6a5e919f26a1172f8063dc.setIcon(icon_3e45c5d2052376682732cd7d2b8ac5fb);
        
    
        var popup_c37fa49bc7c24bd5a6db0dbba0cc6a98 = L.popup({"maxWidth": 300});

        
            var html_3ba21aa425ead29a7610d5af175e423c = $(`<div id="html_3ba21aa425ead29a7610d5af175e423c" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Great Harvest Bread Co..<br>Type of POI: cafe.<br>Bus journey: 7.</div>`)[0];
            popup_c37fa49bc7c24bd5a6db0dbba0cc6a98.setContent(html_3ba21aa425ead29a7610d5af175e423c);
        

        marker_53c8ea3d0e6a5e919f26a1172f8063dc.bindPopup(popup_c37fa49bc7c24bd5a6db0dbba0cc6a98)
        ;

        
    
    
            var marker_8c4f6399e00c2ace86c647201dc15a65 = L.marker(
                [30.4019782, -97.7469768],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_f71aedbe72b3c887ba633cd6bf666a5f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_8c4f6399e00c2ace86c647201dc15a65.setIcon(icon_f71aedbe72b3c887ba633cd6bf666a5f);
        
    
        var popup_0843f8f032c62a5ffd70afc05a823988 = L.popup({"maxWidth": 300});

        
            var html_790afdc600fd353ae69277d2236b3f13 = $(`<div id="html_790afdc600fd353ae69277d2236b3f13" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Signature Cafe.<br>Type of POI: cafe.<br>Bus journey: 7.</div>`)[0];
            popup_0843f8f032c62a5ffd70afc05a823988.setContent(html_790afdc600fd353ae69277d2236b3f13);
        

        marker_8c4f6399e00c2ace86c647201dc15a65.bindPopup(popup_0843f8f032c62a5ffd70afc05a823988)
        ;

        
    
    
            var marker_54f8cd372c25e21f25dc1bb7076bf739 = L.marker(
                [30.401983, -97.7468743],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_d9ad7c88c500873ebede6adeda2b2a81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_54f8cd372c25e21f25dc1bb7076bf739.setIcon(icon_d9ad7c88c500873ebede6adeda2b2a81);
        
    
        var popup_909babfbea43e0b05d3baae3024d0c2a = L.popup({"maxWidth": 300});

        
            var html_1c537ce87d841e885a00467a3b94019f = $(`<div id="html_1c537ce87d841e885a00467a3b94019f" style="width: 100.0%; height: 100.0%;">Closest bus stop: Braker/Research NW Corner.<br>Name of POI: Starbucks.<br>Type of POI: cafe.<br>Bus journey: 7.</div>`)[0];
            popup_909babfbea43e0b05d3baae3024d0c2a.setContent(html_1c537ce87d841e885a00467a3b94019f);
        

        marker_54f8cd372c25e21f25dc1bb7076bf739.bindPopup(popup_909babfbea43e0b05d3baae3024d0c2a)
        ;

        
    
    
            var marker_6048f5c58a264bd2514fd0159c0fee6b = L.marker(
                [30.398259, -97.7493286],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_97aa41a9fd2c05a46ea73c33c036f44c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_6048f5c58a264bd2514fd0159c0fee6b.setIcon(icon_97aa41a9fd2c05a46ea73c33c036f44c);
        
    
        var popup_b247cf1ee1ba5b6fcd304cdd01aaeda9 = L.popup({"maxWidth": 300});

        
            var html_733d635574ee5178ef7626ebb018fbca = $(`<div id="html_733d635574ee5178ef7626ebb018fbca" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Mama Fu's.<br>Type of POI: restaurant.<br>Bus journey: 9.</div>`)[0];
            popup_b247cf1ee1ba5b6fcd304cdd01aaeda9.setContent(html_733d635574ee5178ef7626ebb018fbca);
        

        marker_6048f5c58a264bd2514fd0159c0fee6b.bindPopup(popup_b247cf1ee1ba5b6fcd304cdd01aaeda9)
        ;

        
    
    
            var marker_2bfcab21a810b4c68572dbd4073c91ca = L.marker(
                [30.396735783753286, -97.74930352865478],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_7f3ab6008799876f700f28950fd337c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_2bfcab21a810b4c68572dbd4073c91ca.setIcon(icon_7f3ab6008799876f700f28950fd337c8);
        
    
        var popup_45dc88a1412deef096c5498354b94db2 = L.popup({"maxWidth": 300});

        
            var html_79a22c416f6eda5957a93e3fe7a9c24d = $(`<div id="html_79a22c416f6eda5957a93e3fe7a9c24d" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Manuel's.<br>Type of POI: restaurant.<br>Bus journey: 9.</div>`)[0];
            popup_45dc88a1412deef096c5498354b94db2.setContent(html_79a22c416f6eda5957a93e3fe7a9c24d);
        

        marker_2bfcab21a810b4c68572dbd4073c91ca.bindPopup(popup_45dc88a1412deef096c5498354b94db2)
        ;

        
    
    
            var marker_8f07a00254d915fdea31b399139c3856 = L.marker(
                [30.395831542236635, -97.74882798017838],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_8cd28b3a01f60c0a2ee03c145b76c737 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "film", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8f07a00254d915fdea31b399139c3856.setIcon(icon_8cd28b3a01f60c0a2ee03c145b76c737);
        
    
        var popup_11e56bb0905ffdc9c55eb7880d05e261 = L.popup({"maxWidth": 300});

        
            var html_54b78dbbf0916ce2e75e610f25b49eba = $(`<div id="html_54b78dbbf0916ce2e75e610f25b49eba" style="width: 100.0%; height: 100.0%;">Closest bus stop: 10300 Jollyville/Great Hills.<br>Name of POI: Arbor Cinema @ Great Hills.<br>Type of POI: cinema.<br>Bus journey: 9.</div>`)[0];
            popup_11e56bb0905ffdc9c55eb7880d05e261.setContent(html_54b78dbbf0916ce2e75e610f25b49eba);
        

        marker_8f07a00254d915fdea31b399139c3856.bindPopup(popup_11e56bb0905ffdc9c55eb7880d05e261)
        ;

        
    
    
            var marker_c4f7d84c81c392feb551a656d3d207a0 = L.marker(
                [30.3950396, -97.7493683],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_55b833af043619941d3fd56f118b849c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_c4f7d84c81c392feb551a656d3d207a0.setIcon(icon_55b833af043619941d3fd56f118b849c);
        
    
        var popup_ea45a9fcd6810dcdeff420fe98621cd4 = L.popup({"maxWidth": 300});

        
            var html_f92eddfea060bbbefcc03542760644bd = $(`<div id="html_f92eddfea060bbbefcc03542760644bd" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Modern Market.<br>Type of POI: restaurant.<br>Bus journey: 10.</div>`)[0];
            popup_ea45a9fcd6810dcdeff420fe98621cd4.setContent(html_f92eddfea060bbbefcc03542760644bd);
        

        marker_c4f7d84c81c392feb551a656d3d207a0.bindPopup(popup_ea45a9fcd6810dcdeff420fe98621cd4)
        ;

        
    
    
            var marker_26c43d53e53c620e62ff15c6e0328d91 = L.marker(
                [30.3950774, -97.7484716],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_3dcd2b56df66b519cb6b9d3ff695ffb5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_26c43d53e53c620e62ff15c6e0328d91.setIcon(icon_3dcd2b56df66b519cb6b9d3ff695ffb5);
        
    
        var popup_720872927b38dc0ec1236c998ff6c8c3 = L.popup({"maxWidth": 300});

        
            var html_ae212e14f747dba20aea42e167d4dbb3 = $(`<div id="html_ae212e14f747dba20aea42e167d4dbb3" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Honest Mary's.<br>Type of POI: restaurant.<br>Bus journey: 10.</div>`)[0];
            popup_720872927b38dc0ec1236c998ff6c8c3.setContent(html_ae212e14f747dba20aea42e167d4dbb3);
        

        marker_26c43d53e53c620e62ff15c6e0328d91.bindPopup(popup_720872927b38dc0ec1236c998ff6c8c3)
        ;

        
    
    
            var marker_e8110df4bca6b4dbfa61c7b2713e1214 = L.marker(
                [30.3952181, -97.7493734],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_1e7a8a5f1e36bc4e694e3613be3ef2f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_e8110df4bca6b4dbfa61c7b2713e1214.setIcon(icon_1e7a8a5f1e36bc4e694e3613be3ef2f8);
        
    
        var popup_6629a433a07ffbc0e9f024cc44e32b32 = L.popup({"maxWidth": 300});

        
            var html_bd4c91c98e3c0a24b5ac31e1d5c524f9 = $(`<div id="html_bd4c91c98e3c0a24b5ac31e1d5c524f9" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: FireBowlCafe.<br>Type of POI: cafe.<br>Bus journey: 10.</div>`)[0];
            popup_6629a433a07ffbc0e9f024cc44e32b32.setContent(html_bd4c91c98e3c0a24b5ac31e1d5c524f9);
        

        marker_e8110df4bca6b4dbfa61c7b2713e1214.bindPopup(popup_6629a433a07ffbc0e9f024cc44e32b32)
        ;

        
    
    
            var marker_bc4fe5e8490a358b9828f95f5548007b = L.marker(
                [30.39454304934379, -97.74758061660229],
                {}
            ).addTo(map_189b4ab140b43c50e1e41de2611e8d1e);
        
    
            var icon_5286187f6cf2e51e8fd0f46905804425 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_bc4fe5e8490a358b9828f95f5548007b.setIcon(icon_5286187f6cf2e51e8fd0f46905804425);
        
    
        var popup_c8c3e3eab0f123b5d93fe8f48e9d7186 = L.popup({"maxWidth": 300});

        
            var html_d02faf179ebbbfb64a97dfa664365aef = $(`<div id="html_d02faf179ebbbfb64a97dfa664365aef" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Romano's Macaroni Grill.<br>Type of POI: restaurant.<br>Bus journey: 10.</div>`)[0];
            popup_c8c3e3eab0f123b5d93fe8f48e9d7186.setContent(html_d02faf179ebbbfb64a97dfa664365aef);
        

        marker_bc4fe5e8490a358b9828f95f5548007b.bindPopup(popup_c8c3e3eab0f123b5d93fe8f48e9d7186)
        ;

        
    
</script>