<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4560c41e641becaa76b8023a2ccc207b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4560c41e641becaa76b8023a2ccc207b" ></div>
        
</body>
<script>    
    
            var map_4560c41e641becaa76b8023a2ccc207b = L.map(
                "map_4560c41e641becaa76b8023a2ccc207b",
                {
                    center: [30.394037, -97.74835],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8f7bb5cf9077f783c427968777535b38 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var marker_03f59810d441711e20c74077685fc9ba = L.marker(
                [30.394037, -97.74835],
                {}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var icon_69f0f0cbba5ddb0a10b3a4559e89324f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkgreen", "prefix": "fa"}
            );
            marker_03f59810d441711e20c74077685fc9ba.setIcon(icon_69f0f0cbba5ddb0a10b3a4559e89324f);
        
    
        var popup_298e2d1317d3548e17fea77bfc6fdc04 = L.popup({"maxWidth": "100%"});

        
            var html_4e712871e7b994af7adc31c051c84e2e = $(`<div id="html_4e712871e7b994af7adc31c051c84e2e" style="width: 100.0%; height: 100.0%;">Home</div>`)[0];
            popup_298e2d1317d3548e17fea77bfc6fdc04.setContent(html_4e712871e7b994af7adc31c051c84e2e);
        

        marker_03f59810d441711e20c74077685fc9ba.bindPopup(popup_298e2d1317d3548e17fea77bfc6fdc04)
        ;

        
    
    
            var marker_46ec86fbe766f9ebf175649f4331f417 = L.marker(
                [30.394037, -97.74835],
                {}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var icon_a7a54e73cf5a594470e4e8bc25313052 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_46ec86fbe766f9ebf175649f4331f417.setIcon(icon_a7a54e73cf5a594470e4e8bc25313052);
        
    
            var marker_ab19df7eb821ba49ae4e57fea6b06231 = L.marker(
                [30.393337, -97.743545],
                {}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var icon_d391c0a42ac88b7abbbd168482cbae30 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bus", "iconColor": "white", "markerColor": "black", "prefix": "fa"}
            );
            marker_ab19df7eb821ba49ae4e57fea6b06231.setIcon(icon_d391c0a42ac88b7abbbd168482cbae30);
        
    
            var marker_abc2884070eeb97352d16d33bf97f1fd = L.marker(
                [30.3950396, -97.7493683],
                {}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var icon_8d5263266c39b752cffc1e4f2054f176 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_abc2884070eeb97352d16d33bf97f1fd.setIcon(icon_8d5263266c39b752cffc1e4f2054f176);
        
    
        var popup_1714ad0e2b13577fddc630eef117c7f9 = L.popup({"maxWidth": 300});

        
            var html_73de6a83484f8677ab230d03e23c55f3 = $(`<div id="html_73de6a83484f8677ab230d03e23c55f3" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Modern Market.<br>Type of POI: restaurant.<br>Bus journey: 0.</div>`)[0];
            popup_1714ad0e2b13577fddc630eef117c7f9.setContent(html_73de6a83484f8677ab230d03e23c55f3);
        

        marker_abc2884070eeb97352d16d33bf97f1fd.bindPopup(popup_1714ad0e2b13577fddc630eef117c7f9)
        ;

        
    
    
            var marker_2af1857b9bdcee9a580477a0db3a201a = L.marker(
                [30.3950774, -97.7484716],
                {}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var icon_a14b82e586bf4365b6763df0515febdf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_2af1857b9bdcee9a580477a0db3a201a.setIcon(icon_a14b82e586bf4365b6763df0515febdf);
        
    
        var popup_39d1d661548129ca404464b1a6d42e84 = L.popup({"maxWidth": 300});

        
            var html_f62d95dc96088f9b47a826abc19c1f90 = $(`<div id="html_f62d95dc96088f9b47a826abc19c1f90" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Honest Mary's.<br>Type of POI: restaurant.<br>Bus journey: 0.</div>`)[0];
            popup_39d1d661548129ca404464b1a6d42e84.setContent(html_f62d95dc96088f9b47a826abc19c1f90);
        

        marker_2af1857b9bdcee9a580477a0db3a201a.bindPopup(popup_39d1d661548129ca404464b1a6d42e84)
        ;

        
    
    
            var marker_c94bea735ef71aca50d0df284576b031 = L.marker(
                [30.3952181, -97.7493734],
                {}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var icon_e32a6758732312805c33d6e2f8e2cd07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "coffee", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_c94bea735ef71aca50d0df284576b031.setIcon(icon_e32a6758732312805c33d6e2f8e2cd07);
        
    
        var popup_8aa423b394cb0e0e900f57d9e1972e73 = L.popup({"maxWidth": 300});

        
            var html_cd7c96b714d2965d05a77585aa3d5603 = $(`<div id="html_cd7c96b714d2965d05a77585aa3d5603" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: FireBowlCafe.<br>Type of POI: cafe.<br>Bus journey: 0.</div>`)[0];
            popup_8aa423b394cb0e0e900f57d9e1972e73.setContent(html_cd7c96b714d2965d05a77585aa3d5603);
        

        marker_c94bea735ef71aca50d0df284576b031.bindPopup(popup_8aa423b394cb0e0e900f57d9e1972e73)
        ;

        
    
    
            var marker_e8112de6ecf7cd00290aa0f9e5557c49 = L.marker(
                [30.39454304934379, -97.74758061660229],
                {}
            ).addTo(map_4560c41e641becaa76b8023a2ccc207b);
        
    
            var icon_eb6b7cd392c0cb103d5e28b745401159 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "brown", "prefix": "fa"}
            );
            marker_e8112de6ecf7cd00290aa0f9e5557c49.setIcon(icon_eb6b7cd392c0cb103d5e28b745401159);
        
    
        var popup_06a18f9fd21811305eaf9083fbba87ce = L.popup({"maxWidth": 300});

        
            var html_7a9f425e763112d5047c805cfc854134 = $(`<div id="html_7a9f425e763112d5047c805cfc854134" style="width: 100.0%; height: 100.0%;">Closest bus stop: 9829 Great Hills/Jollyville.<br>Name of POI: Romano's Macaroni Grill.<br>Type of POI: restaurant.<br>Bus journey: 0.</div>`)[0];
            popup_06a18f9fd21811305eaf9083fbba87ce.setContent(html_7a9f425e763112d5047c805cfc854134);
        

        marker_e8112de6ecf7cd00290aa0f9e5557c49.bindPopup(popup_06a18f9fd21811305eaf9083fbba87ce)
        ;

        
    
</script>